
@model IEnumerable<Web.ViewModel.ViewModelOrdenDetalle>

<div class="Glass" style="text-transform: none !important;">
    <table class="table table-striped ">
        <tr>
            <th class="text-center">
                Servicio
            </th>
            <th class="text-center">
                Precio
            </th>
            <th class="text-center"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.HiddenFor(modelItem => item.Servicios.ID)
                    @Html.DisplayFor(modelItem => item.Servicios.Descripcion)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Servicios.Precio)
                </td>
            </tr>
        }
    </table>


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/cantidad")
}