@model Infraestructura.Models.TipoServicio

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Editar</h2>


@using (Html.BeginForm("Save", "Servicios"))
{
    @Html.AntiForgeryToken()
    
<div class="Glass" style="color:#0d4456">

    <div class="card-body">
        <div class="row mb-3">
            <h2>Editar servicio</h2>
            <a class="btn btn-default" href="/Servicios/AdminServicios" role="button" style="background-color:#0d4456; color:white; float:right">Back to list</a>
        </div>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">

            <input type="submit" value="Save" class="btn btn-default" style="background-color:#0d4456; color:white" />

        </div>
    </div>
    </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
