@model IEnumerable<Infraestructura.Models.Casa>

@{
    ViewBag.Title = "AdminCasas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="Glass" style="color:#0d4456">

    <div class="card-body">        

        <div class="row-mb-3">
            <h2>Gestión de casas</h2>
            <a class="btn btn-default" href="/Casas/Create" role="button" style="background-color:#0d4456; color:white; float:right">Agregar</a>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdCasa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDTipoCasa)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCasa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDTipoCasa)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new {  id=item.IdCasa }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.IdCasa }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCasa })
                    </td>
                </tr>
            }

        </table>
        </div>
</div>